<!DOCTYPE html>
<html>
  <head>
    <%- helmet.title.toString() %>
    <link rel="stylesheet" href="<%- manifest["main.css"] %>" />
  </head>
  <body>
    <div id="root"><%- content %></div>
    <script>window.INITIAL_STATE = <%- initialState %>;</script>
    <script src="<%- manifest["main.js"] %>"></script>
  </body>
</html>